*{
  box-sizing: border-box;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  text-align: center;
  background-image: linear-gradient(to left ,rgba(226, 62, 87,1),rgba(49, 29, 63,1));
}
.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #522546;
  color: white;
  width: 400px;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
  border-radius: 50px;
}

img{
  width: 200px;
  height: 150px;
  margin: 20px 20px;
}

form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.btn{
  border: none;
  border-radius: 15px;
  background-color: #E23E57;
  width: 100px;
  padding: 10px 10px;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
  margin: 10px;
  color: white;
  transition: all 0.4s;
}

.btn:hover{
 background-color: #88304E;
}


h1{
  border-bottom:2px solid #F9E4D4;
  margin-bottom:10px;
  color: #F9E4D4;
}
h2{
  font-size: 34px;
  margin-top: 10px;
}
h3{
  padding: 10px 10px;
}

input{
  border: none;
  border-radius: 10px;
  padding: 9px 9px ;
}
input:focus{
  outline: none;
}





